.profileTitle {
  font-size: 40px;
  color: white;
}

.userCard {
  background: none !important;
  border: none !important;
  display: inline-block !important;
  flex-wrap: wrap !important;
}
/* and this as well as className="userCard" line 92 in user profile */

.userGrid {
  display: inline-block !important;
  flex-wrap: wrap !important;
  overflow: auto !important;
}
