.homeBody {
  background-image: url(https://media0.giphy.com/media/NnlndgatpLBsOXR80L/giphy.gif?cid=ecf05e47p5mkhcfr3nintlzshkx49soco6yq6x8zj7n550sq&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  background-position: 0px 0px;
  color: aliceblue;
}
